# dependencies
node_modules
/.pnp
.pnp.js

# testing
coverage

# next.js
/.next/
/out/

# next-pwa
# next-pwa
# **/public/sw.js
# **/public/workbox-*.js
# **/public/worker-*.js
# **/public/sw.js.map
# **/public/workbox-*.js.map
# **/public/worker-*.js.map

# production
/build
/dist
/public/uploads/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
ts-debug.log*

# local env files
.env*.local
.env

# prisma
/generated/prisma
*.sqlite
*.sqlite-journal

# vercel
.vercel

# project specific junk
*_output.txt
*_error.txt
Adobe Premiere Pro Captured Audio/
*.prproj

.vercel
